@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0   ;
}
:root{
    --corDeFundo: rgb(17, 28, 57);
    --corDeTextoPadrao: rgb(255,255,255);
    --corSecundaria: #f0f0f0;
    --corTomAzul: rgb(22, 41, 109);
    --corTomVerde: rgb(207,247,66);
    --fonte-primaria: 'Bebas Neue', cursive;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    align-items: center;
}

body{
    background-color: var(--corDeFundo);
}

.cabecalho_menu ul{
    list-style: none;
    display: flex;
}

.cabecalho_menu a{
    transition-duration: 0.4s;
    color: var(--corTomVerde);
    font-family: var(--fonte-primaria);
    font-size: 1.6rem;
    text-decoration: none;
}

.cabecalho_menu li {
    margin: 0 1rem;
}

#divlogo img {
    height: 5rem;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 5% 15%;
}

.apresentacao_conteudo {
    
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao_conteudo_titulo {
    font-size: 2rem ;
    font-family: var(--fonte-primaria);
    color: var(--corDeTextoPadrao);
}

.destaque{
    color: var(--corTomVerde);
}

.apresentacao_conteudo_texto{
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    color: var(--corDeTextoPadrao);
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao_links_titulo {
    font-family: var(--fonte-secundaria);
    color: var(--corDeTextoPadrao);
    font-size: 1.2rem;
}

.apresentacao_links_ancora {
    padding: 20px 15px;
    display: flex;
    gap: 8px;
    justify-content: center;

    border: 2px solid var(--corTomVerde);
    border-radius: 8px;
    width: 50%;
    font-family: var(--fonte-secundaria);
    color: var(--corDeTextoPadrao);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.apresentacao_imagem{
    width: 50%;
}

.apresentacao_imagem img{
    width: 100%;
}

.fa-brands {
    color: var(--corTomVerde);
    padding-top: 3px;
}

.rodape{
    background-color: var(--corTomVerde);
    color: var(--corTomAzul);
    text-align: center;
    padding: 1.5rem;
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
}

.cabecalho_menu a:hover {
    color: var(--corDeTextoPadrao);
}

@media (max-width: 768px) {
    .apresentacao{
        flex-direction: column-reverse;
    }
    .apresentacao_conteudo{
        width: auto;
    }
}